body{
	font-family: "Helvetica Neue LT Pro";
	color: #808285;
}
h2{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 15pt;
	color: #003F7D;
	margin: 0;
	margin-top: 5mm;
}
h2.lower{
	text-transform: none;
}
h3{
	margin-top: 2mm;
	font-size: 14pt;
	color: #003F7D;
	margin-bottom: 0;
}
h4{
	font-size: 15pt;
	font-weight: 100;
	color: #003F7D;
	margin-bottom: 0;
}
h5{
	margin-top: 2mm;
	font-size: 10pt;
	color: #003F7D;
	margin-bottom: 0;
}
p{
	font-size: 10pt;
	line-height: 13pt;
	margin-top: 1mm;
}
li{
	font-size: 10pt;
	line-height: 16pt;
	color: #003F7D;
}
.spacer{
	height: 5mm;

}
.pb {
	page-break-before: always;
}

.title{
	background-color: #003F7D;
	float: left;
	width: 150mm;
	padding: 5mm;
}
.logo{
	float: left;
	width: 50mm;
}
.introduction{
	margin-left: 10mm;
}
.section{
	position: relative;
	margin: 10mm;
	margin-top: 0;
}
.section h2{
	background-position: 0 50%;
	background-repeat: no-repeat;
}
h2.cloud-vision-and-strategy{
	/*padding-left: 5mm;
	background-image: url('http://redhat.idcgauge.net/images/tools/default/icons/strategy@2x.png');*/
}
.section img.left{
	display: block;
	float: left;
	width: 75mm;
	margin-right: 5mm;
	margin-bottom: 5mm;
	margin-top: 5mm;
}
.section img.right{
	display: block;
	float: right;
	width: 75mm;
	margin-left: 5mm;
	margin-bottom: 5mm;
	margin-top: 5mm;
}
.section img.none{
	display: block;
	float: left;
	margin: 0 5mm 5mm 5mm;
}
.graph{
	height: 80mm;
	width:130mm;
	margin:5mm auto;
}
.fifty{
	float: left;
	width: 80mm;
	margin: 0 5mm;
}

.extragraphtitle{
	
}
.overall_country_graph, .overall_size_graph{
	width: 80mm;
	height: 90mm;
	margin:0;
}
.overall_size_graph{
	margin-left: 10mm;
}

span.ranking-label{
	font-weight: 100;
}
span.ranking{
	font-weight: 500;
	color: #003F7D;
	text-transform: uppercase;
}

.question_section{
	position: relative;
	margin: 10mm;
	margin-top: 0mm;
	font-size: 10pt;
	line-height: 13pt;
}
span.question-label{
	font-weight: 100;
	text-transform: uppercase;
}
span.question{
	font-weight: 500;
}
span.answer-label{
	font-weight: 100;
	text-transform: uppercase;
}
span.answer{
	font-weight: 500;
	color: #003F7D;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}