/*basic reset*/

* {margin: 0; padding: 0;}

html {
	position: relative;
	min-height: 100%;
	/*Image only BG fallback*/
	background: url('img/491448043.jpg');
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(64, 63, 77, 0.7), rgba(0, 0, 0, 0.7)), 
		url('img/grunge2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: #2E3456;*/
}

body {
	background-color: transparent;
	/*font-family: Arial,Helvetica,sans-serif;*/
	font-size: 13px;
	line-height: 1.6;
	height: 100%;
	margin-bottom: 40px;
	color: #C6C5CA;
}
.black{
	background-color: black
}
a{
	color: #E66B6B;
}
a:hover, a:active, a:focus{
	color: #D82435;
	text-decoration: none;
}

h1{
	font-size: 22px;
}
h2{
	font-size: 18px;
	margin-bottom: 20px;
}

.splash, .question{
	background-color: #2E2D33;
	margin-top: 10%;
	position: relative;
}
.question{
	margin-top: 0;
	background-color: #403F4D;
}
.question fieldset{
	position: relative;	
}
.head{
	background-color: #E66B6B;
	padding: 20px 30px;
	color: #FFF;
}
.head small{
	font-family: 'montserratregular',Arial,Helvetica,sans-serif;
	font-weight: normal;
}
img.main{
	max-width: 100%;
}
.head .idclogo{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
	padding-bottom: 0;
	width: 150px;
	height: 50px;
}
.head .idclogo img{
	display: block;
	margin: 0 auto;
	max-height: 50px;
}
.splash h1{
	font-family: 'montserratthin',Arial,Helvetica,sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	margin: 0;
}
.splash h2{
	font-family: 'montserratthin',Arial,Helvetica,sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: #E66B6B;
}
.intro{
	padding: 30px;
}
.action{
	padding: 10px 30px;
	margin-bottom: 30px;
}
.action .start{
	display:block;
	font-family: 'montserratthin',Arial,Helvetica,sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 150%;
}
.action .start img{
	max-width: 150px;
	margin: 0 auto;
	display: block;
}

.sidebar{
	position: relative;
	background-color: #2E2D33;
	padding: 10px 0px;
}
h1, h2{
	margin:0;
}
.intro h1{
	font-family: 'montserratthin',Arial,Helvetica,sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}
.intro h2{
	font-size: 12px;
	color: #E66B6B;
}

.btn-q {
	display: block;
	position: relative;
	border: none;
	text-align: left;
	background: #4E4D5D;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #CACACC;
	padding: 25px 20px 25px 50px;
	text-decoration: none;
	font-weight: normal;
	margin: 15px auto;
	width: 90%;
}
.btn-q:hover,  .btn-q:focus, .icheckbox.checked + .checktext span {
	background: #FFFFFF;
	color: #E86A6D;
	text-decoration: none;
	outline: none;
	/*-webkit-box-shadow: 0px 0px 3px #14c414;
	-moz-box-shadow: 0px 0px 3px #14c414;
	box-shadow: 0px 0px 3px #14c414;*/
}

.btn-q:before, .icheckbox:before,.repmod h4:before {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 40%;
	left: 20px;
	font-family: FontAwesome;
	line-height: 1em;
	content: attr(data-content) '\f111'; /*circle*/
	color: rgba(202,202,204,0.2);
}
.btn-q.check:before, .icheckbox.check:before,.repmod h4.check:before {
	content: attr(data-content) '\f058'; /*checked circle*/
}

.icheckbox.hover{
	/*background: #EFEFEF;*/
	cursor: pointer;
}
.icheckbox.checked + .checktext span{
 	color: #FFFFFF;
}
.icheckbox.checked:before{
	color: #E66B6B;
	content: attr(data-content) '\f05d';
}
.btn-q:hover:before,
.btn-q:focus:before,
.icheckbox:hover:before {
	color: #E66B6B;
}

.icheckbox {
	display: table;
	overflow: hidden;
	height: 50px;
	width: 100%;
}
.icheckbox, .checktext {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}
.checktext {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 0;
	vertical-align: baseline;
	width: 90%;
	display: table-cell;
	vertical-align: middle;
}
.checktext span{
	display: block;
	position: relative;
	padding: 15px;
	background: #4E4D5D;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #CACACC;
	left: -50%;
	font-weight: normal;
}
span.instruct {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.btnoption,
.icheckbox_line,
.iradio_line{
	border: 1px solid #E5E5E5;
	border-radius: 3px !important;
	cursor: pointer;
	font-weight: 400;
	position: relative;
	display: inline-block;
	text-decoration: none;
	margin: 5px;
	font-size: 16px;
	vertical-align: middle;
	padding: 15px 30px 15px 55px;
	background-color: #fdfdfd;
	color: #3498db;
	min-width: 270px;
	text-align:  left;
}
.btnoption:hover,
.btnoption.checked,
.icheckbox_line.hover,
.icheckbox_line.checked.hover,
.iradio_line.hover,
.icheckbox_line:hover,
.iradio_line:hover  {
	color: #fff;
	border: 1px solid #3498db;
	background-color: #3498db;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btnoption .fa, .icheckbox_line .fa, .iradio_line .fa{
	position: absolute;
	left: 16px;
	top: 13px;
	font-size: 150%;
	line-height: 120%;
	z-index: 1;
	color: #fdfdfd;
}
.icheckbox_line.checked,
.iradio_line.checked {
    background: #3498db;
    color: #fdfdfd;
}
.btnoption:hover .fa{
}
.btnoption span{
	display: inline-block;
}
.btnoption span:before,
.icheckbox_line span:before,
.iradio_line span:before{
	content: "";
	display: block;
	position: absolute;
	top:10px;
	left: 10px;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #E5E5E5;
	z-index: 0;
}
.btnoption span.idcradio:before,
.iradio_line span:before{
	border-radius: 18px;
}



/*mask*/
#mask{
	background: rgba(64,63,77,0.2); width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2
}
#mask:before{
	position: absolute;
    top: 55%;
    left: 55%;
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 2em;
    margin:-60px 0 0 -60px;
    content: '\f110';
    color: #FFF;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.footer img.sponsor{
	height: 50px;
}
.restart{
	display: inline-block;
	padding-top: 20px;
}
/*progressbar*/
.progressbar {
	margin-bottom: 10px;
	margin-top: 15px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	/*counter-reset: step;*/
	position: relative;
	z-index: 1;
}
.progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	float: left;
	position: relative;
}
.progressbar li:before {
	/*content: counter(step);*/
	content: "\00a0";
	/*counter-increment: step;*/
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 5px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #403F4D;
	border: 1px solid #403F4D;
	border-radius: 5px;
	margin: 0 auto 5px auto;
	z-index: 0
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 0px;
	border-top: 1px dotted #403F4D;
	background: transparent;
	position: absolute;
	left: -50%;
	top: 5px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after, .progressbar li.completed:before,  #progressbar li.completed:after{
	background: #E66B6B;
	color: white;
}


/*Vertical Steps*/
.list-group.vertical-steps{
	padding-left:10px;
	margin-bottom: 0px;
}
.list-group.vertical-steps .list-group-item{
	background-color: transparent;
	border:none;
	border-left:1px dotted #403F4D;
	box-sizing:border-box;
	border-radius:0;
	/* counter-increment: step-counter; */
	padding-left:20px;
	padding-right:0px;
	padding-bottom:30px;  
	padding-top:0px;
}
.list-group.vertical-steps .list-group-item.active{
	background-color:transparent;
	color:inherit;
}
.list-group.vertical-steps .list-group-item::before {
	border-radius: 50%;
	background-color:#403F4D;
	color:#E66B6B;
	font: normal normal normal 14px/1 FontAwesome;
	content: '\f00c';
	display:inline-block;
	float:left;
	height:20px;
	line-height:20px;
	margin-left:-30px;
	text-align:center;  
	width:20px;  
}
.list-group.vertical-steps .list-group-item:last-child{
	border-left:1px dotted transparent;
}
.list-group.vertical-steps .list-group-item:last-child:before{
	content: '\00a0';
}
.list-group.vertical-steps .list-group-item span,
.list-group.vertical-steps .list-group-item a{
	display:block;
	overflow:hidden;
	padding-top:2px;
}
/*Active/ Completed States*/
.list-group.vertical-steps .list-group-item.active::before{
	background-color:#E66B6B;
	content: '\f141';
	color:#fff;
}
.list-group.vertical-steps .list-group-item.completed{
	border-left:1px dotted #E66B6B;
}
.list-group.vertical-steps .list-group-item.completed:before{
	content: '\f00c';
}
.list-group.vertical-steps .list-group-item.completed:last-child{
	border-left:1px dotted transparent;
}