/*basic reset*/

* {margin: 0; padding: 0;}

html {
	position: relative;
	min-height: 100%;
	/*Image only BG fallback*/
	background: url('img/emotion2.jpg');
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(234, 234, 234, 1), rgba(66, 85, 99, 0.9)), 
		url('img/emotion2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: #2E3456;*/
}

body {
	background-color: transparent;
	font-family: 'Metric Regular', Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.4;
	height: 100%;
	margin-bottom: 40px;
	color: #000;
}
.black{
	background-color: black
}
a{
	color: #E66B6B;
}
a:hover, a:active, a:focus{
	color: #D82435;
	text-decoration: none;
}

h1.result{
	font-size: 52px;
	margin-bottom: 15px !important;
	text-transform: uppercase;
}
h1{
	font-family: 'Metric Bold',Arial,Helvetica,sans-serif;
	font-weight: lighter;
	/*text-transform: uppercase;*/
	margin: 0;
	font-size: 26px;
}
h2{
	font-family: 'Metric Light',Arial,Helvetica,sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: #E66B6B;
	font-size: 20px;
	margin-bottom: 20px;
}

.splash{
	background-color: #FFF;
	margin-top: 30px;
	position: relative;
}
.question{
	margin-top: 30px;
	background-color: #FFF;
}
.question fieldset{
	position: relative;	
}
.question h1{
	margin-bottom: 30px;	
}
.head{
	background-color: #d92435;
	color: #FFF;
}
.head h1{
	padding-left: 30px;
	margin-top: 30px;
	margin-bottom: 0px;
}
.head small{
	display: block;
	font-family: 'Metric Regular',Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 16px;
	padding-left: 30px;
	margin-bottom: 20px;
}
img.main{
	max-width: 100%;
}
.idclogo{
	display: block;
	margin: 0 auto;
	max-height: 50px;
	margin-top: 30px;
}

.intro{
	padding: 30px;
	padding-right: 0;
}
.action{
	padding-top: 60px;
	height: 100%;
}

.action .start{
	display:block;
	font-family: 'Metric Light',Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	font-size: 150%;
}
.action .start img{
	max-width: 150px;
	margin: 0 auto;
	display: block;
}

.sidebar{
	position: relative;
	padding-top: 10px;
	color: #000;
	background-color: #E6E9F0;
}
.mainbar form{
	margin: 20px 10px;
}
h1, h2{
	margin:0;
}

.intro h1{
	font-family: 'Metric Light',Arial,Helvetica,sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}
.intro h2{
	font-family: 'Metric Bold',Arial,Helvetica,sans-serif;
	color: #000;
	margin-bottom: 10px;
}

.btn-q, .otherdiv {
	display: block;
	position: relative;
	border: none;
	text-align: left;
	background: #E6E9F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	padding: 25px 20px 25px 50px;
	text-decoration: none;
	font-weight: normal;
	margin: 15px auto;
	width: 90%;
}
.otherdiv {
	padding: 20px 20px 20px 50px;
}
.otherdiv.error {
	background-color: #d92435;
}
.otherdiv input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 6px;
	width: 40%;
	border: 1px solid #CCC; 
}
.btn-q:hover,  .btn-q:focus, .icheckbox.checked + .checktext span {
	background: #8C93A3;
	color: #FFF;
	text-decoration: none;
	outline: none;
	/*-webkit-box-shadow: 0px 0px 3px #14c414;
	-moz-box-shadow: 0px 0px 3px #14c414;
	box-shadow: 0px 0px 3px #14c414;*/
}

.btn-q:before, .icheckbox:before,.repmod h4:before {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 40%;
	left: 20px;
	font-family: FontAwesome;
	line-height: 1em;
	content: attr(data-content) '\f111'; /*circle*/
	color: #FFF;
}
.btn-q.check:before, .icheckbox.check:before,.repmod h4.check:before {
	content: attr(data-content) '\f058'; /*checked circle*/
}

.icheckbox.hover{
	/*background: #EFEFEF;*/
	cursor: pointer;
}
.icheckbox.checked + .checktext span{
 	color: #FFFFFF;
}
.icheckbox.checked:before{
	color: #29D1C9;
	content: attr(data-content) '\f05d';
}
.btn-q:hover:before,
.btn-q:focus:before,
.icheckbox:hover:before {
	color: #d92435;
}

.icheckbox {
	display: table;
	overflow: hidden;
	height: 50px;
	width: 100%;
}
.icheckbox, .checktext {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}
.checktext {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 0;
	vertical-align: baseline;
	width: 90%;
	display: table-cell;
	vertical-align: middle;
}
.checktext span{
	display: block;
	position: relative;
	padding: 15px;
	background: #E6E9F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	left: -50%;
	font-weight: normal;
}
span.instruct {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.groupcheck label{
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 0;
	font-weight: normal;
}

.groupcheck{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dotted #535360;
}
.groupcheck.error{
	border: 1px solid #d92435;
	background-color: rgba(242, 222, 222, 0.31);
}
.groupcheck h4{
	font-family: 'Metric Light',Arial,Helvetica,sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	color: #d92435;
}
.groupcheck .radiobox{
	display: inline-block;
	margin: 0 0 10px 30px;
	padding: 15px 15px;
	background: #E6E9F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
}
.groupcheck .slider{
	position: relative;
	display: inline-block;
	color: #000;
}
.groupcheck .slider label {
	display: block;
	margin: 0;
	text-align: center;
}
.groupcheck .slider .iradio_flat-red {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
.groupcheck .slider:after{
	content: '';
	width: 85%;
	height: 0px;
	border-top: 1px dotted #d92435;
	background: transparent;
	position: absolute;
	left: -42%;
	bottom: 34px;
}.groupcheck .slider:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
.groupcheck .from,.groupcheck .to{
	text-align: center;
	padding-bottom: 5px;
	font-weight: normal;
}
.groupcheck .ranges .to{
	float: left;
	text-align: right;
}

/*mask*/
#mask{
	background: rgba(255,255,255,0.8); width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2
}
#mask:before{
	position: absolute;
    top: 55%;
    left: 55%;
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 2em;
    margin:-60px 0 0 -60px;
    content: '\f110';
    color: #CCC;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.footer a{
	color: #FFF;
}
.footer a:hover{
	color: #D82435;
}
.footer img.sponsor{
	height: 50px;
}
.restart{
	display: inline-block;
	padding-top: 20px;
}
/*progressbar*/
.progressbar {
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	/*counter-reset: step;*/
	position: relative;
	z-index: 1;
}
.progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	float: left;
	position: relative;
	min-width: 15px;
}
.progressbar li:before {
	/*content: counter(step);*/
	content: "\00a0";
	/*counter-increment: step;*/
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 5px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #8C93A3;
	border-radius: 5px;
	margin: 0 auto 5px auto;
	z-index: 0
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 0px;
	border-top: 1px dotted rgb(202,202,202);
	background: transparent;
	position: absolute;
	left: -50%;
	top: 5px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after, .progressbar li.completed:before,  .progressbar li.completed:after{
	background: #d92435;
	color: white;
}


/*Vertical Steps*/
.list-group.vertical-steps{
	padding:20px 20px;
	margin-bottom: 0px;
}
.list-group.vertical-steps .list-group-item{
	font-family: 'Metric Light',Arial,Helvetica,sans-serif;
	background-color: transparent;
	border:none;
	border-left:1px dotted rgb(202,202,202);
	box-sizing:border-box;
	border-radius:0;
	/* counter-increment: step-counter; */
	padding-left:20px;
	padding-right:0px; 
	padding-top:0px;
}
.list-group.vertical-steps .list-group-item.active{
	background-color:transparent;
	color:#d92435;
}
.list-group.vertical-steps .list-group-item::before {
	border-radius: 50%;
	background-color:#8C93A3;
	color:#E6E9F0;
	font: normal normal normal 14px/1 FontAwesome;
	content: '';
	display:inline-block;
	float:left;
	height:20px;
	line-height:20px;
	margin-left:-30px;
	text-align:center;  
	width:20px;  
}
.list-group.vertical-steps .list-group-item:last-child{
	border-left:1px dotted transparent;
}
.list-group.vertical-steps .list-group-item:last-child:before{
	content: '\00a0';
}
.list-group.vertical-steps .list-group-item span,
.list-group.vertical-steps .list-group-item a{
	display:block;
	overflow:hidden;
	padding-top:2px;
}
/*Active/ Completed States*/
.list-group.vertical-steps .list-group-item.active::before{
	background-color:#d92435;
	content: '\f141';
	color:#fff;
}
.list-group.vertical-steps .list-group-item.completed{
	border-left:1px dotted #d92435;
	color: #d92435;
}
.list-group.vertical-steps .list-group-item.completed:before{
	content: '\f00c';
}
.list-group.vertical-steps .list-group-item.completed:last-child{
	border-left:1px dotted transparent;
}