.header{
	width: 210mm;
	height: 25mm;
}
.header h1, .header h2{
	color: #fff;
	font-size: 24px;
	font-family: "Helvetica Neue Pro", helvetica, sans;
	font-weight: lighter;
	margin: 0;
	padding-left: 20mm;
}
.header h2{
	font-size: 20px;
}
h2,h3,h5{
	font-family: Arial;
	font-weight: lighter;
	font-size: 17pt;
	color: #003F7D;
	margin: 0;
	margin-top: 5mm;
}
h3{
	margin-top: 2mm;
	font-size: 14pt;
	color: #003F7D;
	margin-bottom: 0;
}
h5{
	margin-top: 2mm;
	font-size: 10pt;
	color: #003F7D;
	margin-bottom: 0;
}
p{
	font-family: Arial;
	font-size: 10pt;
	color: #686868;
	line-height: 13pt;
	margin-top: 1mm;
}
li{
	font-family: Arial;
	font-size: 10pt;
	line-height: 16pt;
	color: #003F7D;
}
.spacer{
	height: 5mm;

}
.pb {
	page-break-before: always;
}

.title{
	background-color: #003F7D;
	float: left;
	width: 150mm;
	padding: 5mm;
}
.logo{
	float: left;
	width: 50mm;
}
.introduction{
	margin-left: 20mm;
	width: 190mm;
}
.section{
	position: relative;
	margin: 20mm;
	margin-top: 0;
}
.section h2{
	background-position: 0 50%;
	background-repeat: no-repeat;
}
h2.cloud-vision-and-strategy{
	/*padding-left: 5mm;
	background-image: url('http://redhat.idcgauge.net/images/tools/default/icons/strategy@2x.png');*/
}
.section img.left{
	display: block;
	float: left;
	width: 75mm;
	margin-right: 5mm;
	margin-bottom: 5mm;
	margin-top: 5mm;
}
.section img.right{
	display: block;
	float: right;
	width: 75mm;
	margin-left: 5mm;
	margin-bottom: 5mm;
	margin-top: 5mm;
}
.section img.none{
	display: block;
	float: left;
	margin: 0 5mm 5mm 5mm;
}
.graph{
	height: 85mm;
	width:85mm;
	margin-right:5mm;
	float: left;
	background: url("/images/tools/1/graphbg.jpg") no-repeat 50% 0;
	background-size: 85mm 76mm;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}