.header{
	width: 210mm;
	height: 25mm;
}
.header h1, .header h2{
	color: #fff;
	font-family: helvetica, sans;
	font-weight: lighter;
	margin: 0;
}
.title{
	background-color: #003F7D;
	float: left;
	width: 150mm;
	padding: 5mm;
}
.logo{
	float: left;
	width: 50mm;
}
.section h2{
	background-position: 0 50%;
	background-repeat: no-repeat;
}
h2.cloud-vision-and-strategy{
	/*padding-left: 5mm;
	background-image: url('http://redhat.idcgauge.net/images/tools/default/icons/strategy@2x.png');*/
}
.section img.left{
	display: block;
	float: left;
	margin-right: 5mm;
	margin-bottom: 5mm;
}
.section img.right{
	display: block;
	float: right;
	margin-left: 5mm;
	margin-bottom: 5mm;
}
.section img.none{
	display: block;
	float: left;
	margin: 0 5mm 5mm 5mm;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}