
/*basic reset*/
* {margin: 0; padding: 0;}

html {
	position: relative;
	min-height: 100%;
	/*Image only BG fallback*/
	/*background: url('img/480216224.jpg');*/
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(39, 39, 39, 1), rgba(0, 0, 0, 0.7)),
		url('img/stars.jpg') no-repeat center center fixed;*/
	/*background-color: #272727;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: "hp_simplifiedregular",Arial,Helvetica,sans-serif;
	background-color: transparent;
	font-size: 14px;
	height: 100%;
	margin-bottom: 40px;
	color: #666666;
}
a{
	color: #0096D6;
}
h1{
	font-size: 20px;
}
h2{
	font-size: 15px;
	margin-bottom: 20px;
}
h2.question{
	font-weight: normal;
	color:#212949;
	font-size: 1.6em;
	margin-bottom: 1.5em;
}
.navbar{
	border-radius: 0;
}
.navbar-default{
	background-color: #FFFFFF;
}
.completediv{
	margin-left: 0px; font-size: 16px; line-height: 20px; margin-top: 40px; margin-bottom: -20px;
}
.completediv img{
	max-width: 330px;
}
ul { 
   list-style-type: disc;
   margin-left: 15px;
}
ol { 
   list-style-type: decimal;
}
ul ul, ol ul { 
   list-style-type: circle;
}
ol ol, ul ol { 
   list-style-type: lower-latin; 
}
li{
	margin-left: 15px;
}
/*form styles*/
#msform {
	margin: 5px auto 30px auto;
	text-align: left;
	position: relative;
}
#msform fieldset{
	min-height: 90%;
}
#msform fieldset, .splash, .sub-report {
	background: white;
	border: 0 none;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	padding: 20px 30px;
	padding-bottom: 30px;
	
	box-sizing: border-box;
	margin: 0 auto;
	border-radius: 3px;
	
	/*stacking fieldsets above each other*/
	/*position: absolute;*/
}
#msform fieldset fieldset{
	box-shadow: none;
}

.splash {
	margin-top: 20%;
}
.splash h1{
	display: inline-block;
	font-family: "hp_simplifiedbold";
	color: #000;
	margin-bottom: 6px;
	position: relative;
}
.splash h2{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	line-height: 18px;
}
span.logo{
	display: block;
	float: left;
	border-right: 1px solid #CCCCCC;
	margin-right: 20px;
	padding-right: 20px;
}
.startbut{
	margin-top: 20px;
    padding: 20px 26px;
    font-size: 22px;
    line-height: 1.3333333;
}
.intro{
	padding-top: 10px;
}
.action{
	padding-top: 10px;
}
@media (min-width: 768px) {
	.intro{
		padding-top: 40px;
	}
	.action{
		padding-top: 80px;
	}
}
@media (min-width: 992px) {
	.action{
		padding-top: 80px;
	}
}
.sponsor{
	text-align: center;
	padding-top: 30px;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
.btn, .btn-lg{
	font-weight: lighter;
	font-family: hp_simplified_lightregular;
}
.btn-primary{
	color: #0096D6;
	background-color: #FFF;
    border-color: #0096D6;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #0096D6;
	border-color: #0096D6;
}

.rel{
	display: block;
	position: relative;
}
#msform .btn-q {
	display: block;
	font-size: 1.3em;
	line-height: 1.2;
	border: 1px solid #0096D6;
	text-align: left;
	background: #FFFFFF;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #0096D6;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	font-weight: 100;
	margin: 15px auto;
	width: 90%;
}

#msform .btn-q:hover,  #msform .btn-q:focus, #msform .icheckbox.checked + .checktext span {
	background: #0096D6;
	color: #FFFFFF;
	text-decoration: none;

}
#msform .icheckbox.hover{
	/*background: #EFEFEF;*/
	cursor: pointer;
}
#msform .icheckbox.checked + .checktext span{
 	color: #FFFFFF;
}
.icheckbox {
	display: table;
	overflow: hidden;
	height: 4.5em;
	width: 100%;
	margin-bottom: 30px
}
.icheckbox, .checktext {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}
.checktext {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 0;
	vertical-align: baseline;
	width: 90%;
	display: table-cell;
	vertical-align: middle;
}
.checktext span{
	position: relative;
	left: -50%;
	font-weight: normal;
	display: block;
	font-size: 1.3em;
	line-height: 1.2;
	border: 1px solid #0096D6;
	text-align: left;
	background: #FFFFFF;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #0096D6;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	font-weight: 100;
	margin: 0 auto;
	width: 90%;
}
span.instruct {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

/*headings*/
.fs-title {
	text-transform: uppercase;
	color: #0096D6;
	margin-bottom: 10px;
	margin-top: 0px;
}
.fs-subtitle {
	font-weight: normal;
	color: #666;
	margin-bottom: 5px;
	margin-top: 0px;
}

#progressbar {
    text-align: justify;
    font-size:0;
    margin-bottom: 20px;
    margin-left: 0;
}

#progressbar:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#progressbar li {
	margin: 0;
	border: 1px solid #FFF;
	color: #FFF;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    padding: 4px;
    padding-top: 1px;
    text-align: center;
    height: 25px;
    min-width: 25px;
    margin-top: 5px;
}
#progressbar li.active {
	color: #FFF;
    background-color: #0096D6;
}

#progressbar a:link {
    display: block;
    color: white;
    padding: 1em 0;
}


/*COMPLETE*/
form.clearfix label{
	color: #0096D6;
}
.form-group span{
	display: none;
}
.form-group.error span{
	color: white;
	display: inline-block;
	border-radius: 3px;
	padding: 3px;
	background-color: #c52323;
	margin-top: 2px;
}
.trans{
	color: white;
}
.trans h1{
	margin-top: 5px;
	font-size: 45px;
	color: #0096D6;
	font-weight: bold;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.trans h2{
	font-size: 25px;
	margin-bottom: 0;
}
.trans h3{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: lighter;
	width: 70%;
}
#results {
	background: #FFFFFF;
	border: 0 none;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	padding-bottom: 30px;
	
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 40px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #f5f5f5;
	padding-top: 5px;
}
.groupcheck label{
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 0;
	font-weight: normal;
}

.groupcheck{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dotted #535360;
}
.groupcheck.error{
	border: 1px solid #d92435;
	background-color: rgba(242, 222, 222, 0.31);
}
.groupcheck h4{
	font-family: 'Metric Light',Arial,Helvetica,sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	color: #0096D6;
}
.groupcheck .radiobox{
	display: table;
	width: 100%;
	margin: 0 0 10px 30px;
	padding: 20px 30px 20px 15px;
	font-size: 1.3em;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #0096D6;
	border: 1px solid #0096D6;
}
.groupcheck .radiobox:hover, .groupcheck .radiobox.checked {
	cursor: pointer;
	background-color: #0096D6;
	color: #fff
}
.groupcheck .radiobox label{
	display: table-cell;
	width: 100%;
	padding-left: 10px;
	vertical-align: middle;
}
.groupcheck .slider{
	position: relative;
	display: inline-block;
	color: #000;
}
.groupcheck .slider label {
	display: block;
	margin: 0;
	text-align: center;
}
.groupcheck .slider .iradio_flat-blue {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
.groupcheck .slider:after{
	content: '';
	width: 85%;
	height: 0px;
	border-top: 1px dotted #d92435;
	background: transparent;
	position: absolute;
	left: -42%;
	bottom: 34px;
}.groupcheck .slider:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
.groupcheck .from,.groupcheck .to{
	text-align: center;
	padding-bottom: 5px;
	font-weight: normal;
}
.groupcheck .ranges .to{
	float: left;
	text-align: right;
}
#next{
	background-color: #FFF;
	color: #0096D6;
	border: 1px solid #0096D6;
}
#next:hover{
	background-color: #0096D6;
	color: #FFF;
	border: 1px solid #0096D6;
}
/*mask*/
#mask{
	background: rgba(255,255,255,0.8); width: 100%; height: 100%; position: absolute; left: 0; top: 67px; z-index: 2
}
#mask:before{
	position: absolute;
    top: 55%;
    left: 55%;
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 2em;
    margin:-60px 0 0 -60px;
    content: attr(data-content) '\f110';
    color: #FFF;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.marker{
	position: absolute;
	left: 0;
	top: -20px;
	font-size: 80px;
}
.progress{
	height: 80px;
	margin: 20px auto;
	margin-top: 60px;
	margin-bottom: 40px;
}
.progress-bar{
	line-height: 80px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.progress-bar-act{
	background-color: #0096D6;
}
.progress-bar-commit{
	background-color: #FF5B1E;
}
.progress-bar-invest{
	background-color: #18CD7B;
}
.progress-bar-refine{
	background-color: #7FEE1C;
}
.progress-bar-accelerate{
	background-color: #56B700;
}