@tailwind preflight;
//slider
.vue-slider-tooltip-wrap{
	top: -20px !important;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .4s;
}

.fade-enter-active {
  /*transition-delay: .4s;*/
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.pb {
	page-break-before: always;
}
.spacer{
	height: 5mm;
}
/*IE10 and IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ieflex1 {
    flex: 0 0 auto !important;
  }
}

@tailwind utilities;