body{
	margin: 0 20mm;
}
* { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11pt;
	color: #666666;
}
h1{
	font-weight: bold;
	color: #003F7D;
	font-size: 16pt;
	line-height: 1;
}
h2{
	font-weight: 300;
	color: #003F7D;
	font-size: 14pt;
	line-height: 1;
	margin-bottom: 0;
}
.spacer{
	height: 5mm;
}
.pb {
	page-break-before: always;
}
strong.blue{
	color: #003F7D;
}
ul, ul li{
	color: #003F7D;
	margin-bottom: 1mm;
}
ul.primary {
	font-weight: bold;
}