body{
	margin: 0 20mm;
}
* { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 1.2;
	color: #666666;
}
h2{
	font-weight: 300;
	color: #92063e;
	font-size: 14pt;
}
.spacer{
	height: 5mm;
}
.pb {
	page-break-before: always;
}
strong.blue{
	color: #92063e;
}
ul, ul li{
	margin-bottom: 1mm;
}
ul.primary {
	font-weight: bold;
}